#mainNav {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav > li.nav-item > a {
  font-weight: 900;
  padding: 0px 20px;
}

.page-header{
  margin-top: 3%;
  color: black;
}

@media only screen and (min-width: 768px) {
  /* 반응형 768 이상 */
}

@media only screen and (max-width: 767px) {
  /* 반응형 768 이하 */
}